/* Basisstijlen voor het gecentreerde dropdown-menu */
.centered-dropdown {
  text-align: center;
  margin-top: 20vh; /* Verticale marge aanpassen aan je behoeften */
}

/* Stijl voor de knop die de dropdown activeert */
.dropbtn {
  background-color: #3498db;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
}

/* Stijl voor de dropdown-inhoud (onzichtbaar in eerste instantie) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
  text-align: left;
}

/* Stijl voor de dropdown-opties */
.dropdown-content a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #333;
}

/* Stijl voor de dropdown-opties bij hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Laat de dropdown-inhoud zien wanneer de knop wordt aangeklikt */
.centered-dropdown:hover .dropdown-content {
  display: block;
}